<!DOCTYPE html>
<html lang="en">  
<head>

	<meta charset="utf-8">
	<title><%=page_title%></title>
	<meta name="description" content="covid-19 symptom checker">
	<meta name="author" content="">
	 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../../frontend/css/style.css">
	<link rel="stylesheet" href="../../frontend/css/question.css">
	<link rel="stylesheet" href="../../frontend/css/skins/green.css">
	<link rel="shortcut icon" href="../../frontend/images/logo.png">
   
</head>

<body>