<%- include elements/header.ejs %> 
<div id="infocollect">
	
	<div align="center" class="loader">
		<img src="<%nodeSiteUrl%>/frontend/images/logo.png" alt="covid" class="loadingLogo" />
	</div>
	 
</div> 
<%- include elements/footer.ejs %> 

